html{
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 2px solid #333;
}

header h1 {
    margin: 10px 0 5px;
    color: #333;
}

header p {
    font-size: 17px;
    color: #161616;
    line-height: normal;
}

nav {
    background-color: #050016;
    color: #fff;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin-bottom: 20px;
}

section h2 {
    padding-top: 45px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    color: #333;
}

.skills ul,
.experience ul,
.achievements ul,
.projects ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li,
.experience ul li,
.achievements ul li,
.projects ul li {
    background: #f4f4f4;
    margin: 5px 0;
    padding: 10px;
    border-left: 4px solid #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin: 5px 0;
}

footer {
    background-color: #10004a;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}